<section class="container-navar" [appAnimationsNavar]="animationNavarConfig">
  <div class="containerNavarPerfil" [appAnimationsNavar]="animationPhotoPerfilConfing" >
    <img class="navarPerfil" src="./assets/images/DuvanPerfil.jpg" alt="Foto Perfil">
    <h1 class="nombrePerfil">DuvanRGO</h1>
  </div>
  <ol class="list">
    <li [appAnimationsNavar]="animationButtonsConfing" >
      <span>Home</span>
    </li>
    <li [appAnimationsNavar]="animationButtonsConfing2">
      <span>Proyects</span>
    </li>
    <li [appAnimationsNavar]="animationButtonsConfing3">
      <span>About</span>
    </li>
    <li [appAnimationsNavar]="animationButtonsConfing4">
      <span>Contact</span>
    </li>
  </ol>
</section>
